.article--card {
  // border: 3px solid green;
  margin: 1rem 0.5rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  h3 {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    background-color: $vgh-red;
    margin: 0;
    max-width: 100%;
  }
  a {
    display: block;
    max-width: 100%;
    text-decoration: none;
  }
}

.card--first {
  height: 300px;
  img {
    height: 200px;
  }
  h3 {
    position: relative;

    text-align: center;
  }
  p {
    padding: 1rem 1rem 0;
    margin: 0;
  }
}
