html,
body {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $vgh-sombre;
  color: white;
  margin: 0;
}

header {
  width: auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  a {
    text-decoration: none;
    z-index: 5;
    margin-left: 3rem;
    font-size: 48px;
    -webkit-text-stroke: 1px black;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./include/images/got.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 82%;
    filter: grayscale(30%);
  }
}

footer {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background: $color-gray-3;
}

main {
  margin: auto;
  max-width: $large;
  @include respond-to("large") {
    max-width: 100%;
  }
}

section {
  //border: 5px solid white;
  /*  display: flex;
  align-items: center; 
  justify-content: center;*/
  background-color: #333333;
}

h1,
h2,
h3,
p,
a,
label {
  color: white;
  font-family: $font-family-base;
}

code a {
  color: black;
}

form #form > div {
  margin: 1rem 0;
}

form #form label {
  margin-right: 2rem;
}

$vgh-red: #631111;
$vgh-dark: #1f1919;

//Sidebar

.language-menu img {
  height: 30px;
  width: 30px;
}

.reseaux-sociaux {
  display: flex;
  justify-content: center;

  i {
    font-size: 42px;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
  }
  .fa-linkedin {
    color: #2867b2;
  }
  .fa-github {
    color: #24292f;
  }
}

.main-nav {
  background-color: $vgh-red;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    @include respond-to("large") {
      width: 100%;
      li {
        width: 100%;
      }
    }
  }

  li {
    list-style: none;

    text-align: center;
  }
  a {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
