{% extends 'base.html.twig' %}
{% block body %}
  <h1>{% trans %}About this website{% endtrans %}</h1>

  {% trans %}
  <p>
    Hello ! I am happy to see you are interested in this project.
  </p>

  <p>
    This website stems from a project I completed for my Master’s degree at the University of Strasbourg.</p>
  <p>The goal was to create a multilingual website for yourself, either as a portfolio or for a hobby you enjoy.
  </p>
  <p>
    Because two of my hobbies include horse riding and videogames, I decided to merge the two and come up with somewhat of a unique concept, Videogamehorses ! The goal here is to look at popular games (mostly RPGs) and analyze how well they designed horses in those games.
  </p>
  <p>
    I think horseriding is a great tool for immersion and transportation in video games, capable of giving you a trusty companion to ride along. Horses are also usually very majestic and trustworthy, which makes them a great partner for adventure.
  </p>
  <p>
    In order to give myself an additional challenge, I developed this website with Symfony, a PHP framework which adds potential but also complexity to any project.
  </p>
  <p>
    This website has room for a lot of improvement and I might keep working on it to gather new skills, I will figure this out in the future depending on how much free time I have.
  </p>
  <p>
    Anyways, I hope you enjoy reading my reviews and maybe leave a comment or follow me on social media !
  </p>

  <p class="text-right">Maurice</p>

  {% endtrans %}
{% endblock %}
