<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Bienvenue sur Videogame Horses!{% endblock %}
    </title>
    {% block stylesheets %}
      {# 'app' must match the first argument to addEntry() in webpack.config.js #}
      {{ encore_entry_link_tags('app') }}

      <!-- Renders a link tag (if your module requires any CSS) <link rel="stylesheet" href="/build/app.css"> -->
      <link rel="stylesheet" href="/build/sass/knacss.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% endblock %}

    {% block javascripts %}{% endblock %}
  </head>

  <body>
    <header>
      <a href="/">
        <h1>Videogamehorses</h1>
      </a>
    </header>
    <nav class=" main-nav">
      <ul class="flex justify-center ">
        <li class="mx-6">
          <a href="/article/list">{% trans %}Reviews{% endtrans %}</a>
        </li>
        <li class="mx-6">
          <a href="">{% trans %}News{% endtrans %}</a>
        </li>
        <li class="mx-6">
          <a href="/about">{% trans %}About{% endtrans %}</a>
        </li>
      </ul>
    </nav>
    <main class="grid grid-cols-12 my-6 gap-5">
      <section class="col-start-1 col-span-8 py-4 px-4">
        {% block body %}

          {% block content %}
            (Il faut remplacer le contenu - ceci vient de base.html.twig)
          {% endblock %}
        {% endblock %}
      </section>

      <aside class=" col-start-9 col-span-4">

        {% include 'sidebar.html.twig' %}

      </aside>

    </main>
    <footer>
      <div class="grid grid-cols-2">
        <p>Site web créé par Maurice Kurth</p>
        <p>Dans le contexte d'un projet de fin d'études avec Symfony</p>
      </div>
    </footer>
  </body>
</html>
