<div class="flex flex-col">
  {% if not app.user %}
    <a href="{{path('security_login')}}">Se connecter</a>
  {% else %}

    <p>Vous êtes connecté en tant que
      {{app.user.username}}</p>
    <a href="{{path('security_logout')}}">Se déconnecter</a>
  {% endif %}
</div>
