@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
  font-family: "Beleren";
  src: url("../../styles/sass/fonts/Beleren2016-Bold.woff") format("woff");
  font-weight: bold;
}
