{% extends 'base.html.twig' %}

{% block body %}
  {% block content %}

    <div class="grid grid-cols-6 mx-4 ">
      <h1 class="col-span-6 text-center">Liste des articles :
      </h1>
      {% for article in articles %}
        <div class="article-solo flex flex-col col-span-3">
          <img src="{{article.image}}" alt="">
          <h3 class="text-center">{{article.titre|e}}</h3>
          <p>{{article.introduction}}</p>
        </div>
      {% endfor %}

    </div>
  {% endblock %}
{% endblock %}
