{% extends 'base.html.twig' %}

{% block body %}
  {% block content %}

    <h1 class="col-span-6 text-center">{% trans %}
      All reviews on the website
      {% endtrans %}
    </h1>
    <div class="grid grid-cols-2">
      {% for article in articles %}
        <div class="article--card col-span-1">

          <img src="/uploads/files/{{article.thumbnail}}" alt="{{article.titre}}">
          <a href="{{path('article_show',{id:article.id})}}">
            <h3>{{article.titre}}</h3>
          </a>
        </div>
      {% endfor %}

    </div>

  {% endblock %}
{% endblock %}
