{% extends 'base.html.twig' %}

{% block body %}
  {% block content %}
    <h1>{{article.titre}}</h1>

    <p>{{article.introduction}}</p>
    {{article.contenu}}

    <p>
      Note du jeu :
      {{article.note}}</p>
  {% endblock %}
{% endblock %}
