{% extends 'base.html.twig' %}

{% block body %}
{% block content %}
<h1>{{article.titre}}</h1>

<p>{{article.introduction}}</p>
<p>{{article.contenu}}</p>


<p> Note du jeu : {{article.note}}</p>
{% endblock %}
{% endblock %}
